In [50]:
print('Hello, World')

Hello, World

# Python Indentation
Indentation refers to the spaces at the beginning of a code line.
Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.
Python uses indentation to indicate a block of code.

In [52]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [53]:
#Python will give you an error if you skip the indentation:

In [54]:
#The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
#Example
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# Python Variables

#Variables
#Variables are containers for storing data values.

# Creating Variables
#Python has no command for declaring a variable.

#A variable is created the moment you first assign a value to it.

In [57]:
#Example
x = 5
y = "John"
print(x)
print(y)

5
John

In [58]:
#Variables do not need to be declared with any particular type, and can even change type after they have been set.
#Example
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [59]:
#Get the Type
#You can get the data type of a variable with the type() function.

#Example
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [60]:
#Single or Double Quotes?
#String variables can be declared either by using single or double quotes:

#Example
x = "John"
# is the same as
x = 'John'

In [61]:
#Case-Sensitive
#Variable names are case-sensitive.

#Example
#This will create two variables:

a = 4
A = "Sally"

# Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [65]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [64]:
#Example
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (3519787168.py, line 4)

# Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

Camel Case
Each word, except the first, starts with a capital letter:

myVariableName = "John"
Pascal Case
Each word starts with a capital letter:

MyVariableName = "John"
Snake Case
Each word is separated by an underscore character:

my_variable_name = "John"

# Python Variables - Assign Multiple Values

Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [66]:
#Example
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [67]:
#Example
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [69]:
#Example
#Unpack a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Output Variables

In [ ]:
#Output Variables
#The Python print() function is often used to output variables.

In [70]:
#Example
x = "Python is awesome"
print(x)

Python is awesome

In [71]:
#In the print() function, you output multiple variables, separated by a comma:

#Example
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
#You can also use the + operator to output multiple variables:

In [72]:
#Example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

#Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [73]:
#For numbers, the + character works as a mathematical operator:

#Example
x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [74]:
#Example
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [75]:
#Example
x = 5
y = "John"
print(x, y)

5 John

# Python - Global Variables

In [ ]:
#Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

ExampleG

In [77]:
#Example
#Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [78]:
#If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

#Example
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# Python Data Types

Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

# Getting the Data Type
You can get the data type of any object by using the type() function:

In [1]:
#Example
#Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

#In Python, the data type is set when you assign a value to a variable:

Example	Data Type	
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType

In [2]:
x = ["apple", "banana", "cherry"]
print (x)

['apple', 'banana', 'cherry']

In [5]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

Example	Data Type	Try it
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

# Python Numbers

In [ ]:
#There are three numeric types in Python:

int
float
complex

In [6]:
#Example

x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [7]:
#Example

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
#Int
#Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

#Example
#Integers:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [11]:
#Float
#Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

#Example
#Floats:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [13]:
#Float can also be scientific numbers with an "e" to indicate the power of 10.

#Example
#Floats:

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [14]:
#Type Conversion
#You can convert from one type to another with the int(), float(), and complex() methods:

#Example
#Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Strings

#Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [1]:
#Example
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
# Assign String to a Variable
#Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

#Example
a = "Hello"
print(a)

# Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [4]:
#Example
#Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

# Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [5]:
#Example
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

# String Length
To get the length of a string, use the len() function.

In [6]:
#Example
#The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

# Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [9]:
#Example
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [10]:
#Example
#Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [11]:
#Example
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

# Python - Slicing Strings

Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [15]:
#Example
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

# Slice From the Start
By leaving out the start index, the range will start at the first character:

In [16]:
#Example
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

# Slice To the End
By leaving out the end index, the range will go to the end:

In [17]:
#Example
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [18]:
#Example
#Get the characters:

#From: "o" in "World!" (position -5)

#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings

In [20]:
#Upper Case

#Example
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [21]:
#Lower Case

#Example
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

# Replace String

In [23]:
#Example
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

# Python - String Concatenation

String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [24]:
#Example
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [25]:
#Example
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

#String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [28]:
#Example
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [29]:
#Example
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

# Python Booleans

#Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [30]:
#Example
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [31]:
#Example
#Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return,

In [32]:
#Example
#Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [33]:
#Example
#Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Python Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [35]:
#Example
print(10 + 5)

15

#Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

Python Comparison Operators
Comparison operators are used to compare two values:

Operator	Name	Example	
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

Python Logical Operators
Logical operators are used to combine conditional statements:

Operator	Description	Example	
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example	
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

Operator	Description	Example	
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

# Operator Precedence
Operator precedence describes the order in which operations are performed.

In [38]:
#Example
#Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

print((6 + 3) - (6 + 3))

0

In [39]:
#Example
#Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

print(100 + 5 * 3)

115

# Python Lists
List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [40]:
#Example
#Create a List:

mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

# Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [41]:
#Example
#Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# Python - Access List Items

#Access Items
List items are indexed and you can access them by referring to the index number:

In [42]:
#Example
#Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

#Note: The first item has index 0.

banana

# Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [43]:
#Example
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [44]:
#Example
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [45]:
#Example
#This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [46]:
#Example
#This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [47]:
#Example
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

# Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [48]:
#Example
#heck if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python Tuples

Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [49]:
#Example
#Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#Allow Duplicates
#Since tuples are indexed, they can have items with the same value:

In [50]:
#Example
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

#Tuple Length
To determine how many items a tuple has, use the len() function:

In [51]:
#Example
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Tuple Items - Data Types
Tuple items can be of any data type:

In [53]:
#Example
#String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

#A tuple can contain different data types:

#Example
A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python Sets

Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.


Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [54]:
#Example
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

#Sets are unordered, so you cannot be sure in which order the items will appear.

{'banana', 'apple', 'cherry'}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

In [57]:
#Example
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [58]:
#Example
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'banana', True, 2, 'apple', 'cherry'}

# Set Items - Data Types
Set items can be of any data type:

In [60]:
#Example
#String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [62]:
#A set can contain different data types:

#Example
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

# Python Dictionaries

Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [66]:
#Example
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#Dictionary Items
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [67]:
#Example
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

# Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [68]:
#Example
#Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [69]:
#Example
#Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Python If ... Else

#Elif
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [3]:
#Example
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

#In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

a and b are equal

# Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [5]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [6]:
# Short Hand If
#If you have only one statement to execute, you can put it on the same line as the if statement.

#Example
#One line if statement:

if a > b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
#If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

#Example
#One line if else statement:

In [10]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
#Example
#One line if else statement, with 3 conditions:

In [11]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

# And
The and keyword is a logical operator, and is used to combine conditional statements:

In [13]:
#Example
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [14]:
#Example
#Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Not
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [15]:
# Example
# Test if a is NOT greater than b:

a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b